.backdrop {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(250, 250, 250, 0.9);
}

.component {
  height: 100%;
  width: 100%;
}

.global {
  height: 100vh;
  width: 100vw;
}
